<md-nav-list>
  <h3 md-subheader>项目</h3>
  <md-list-item (click)="toTask('project')">
    <md-icon svgIcon="projects" md-list-icon></md-icon>
    <span md-line>项目首页</span>
    <span md-line md-subheader>查看您的所有项目</span>
  </md-list-item>

  <h3 md-subheader>日历</h3>
  <md-list-item (click)="toTask('month')">
    <md-icon svgIcon="month" md-list-icon></md-icon>
    <span md-line>月视图</span>
    <span md-line md-subheader>按月查看您的任务</span>
  </md-list-item>
  <md-list-item (click)="toTask('week')">
    <md-icon svgIcon="week" md-list-icon></md-icon>
    <span md-line>周视图</span>
    <span md-line md-subheader>按周查看您的任务</span>
  </md-list-item>
  <md-list-item (click)="toTask('day')">
    <md-icon svgIcon="day" md-list-icon></md-icon>
    <span md-line>日视图</span>
    <span md-line md-subheader>按日查看您的任务</span>
  </md-list-item>

  <h3 md-subheader>用户</h3>
  <md-list-item (click)="toTask('login')">
    <md-icon svgIcon="unassigned" md-list-icon></md-icon>
    <span md-line>注销</span>
    <span md-line md-subheader>退出当前用户</span>
  </md-list-item>
</md-nav-list>
