<form [formGroup]="form">
  <md-card>
    <md-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTab" (selectChange)="onTabChange($event.index)">
      <md-tab label="帐号信息">

        <md-input-container class="full-width">
          <input mdInput type="text" placeholder="您的email" formControlName="email">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="text" placeholder="您的姓名" formControlName="name">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="text" placeholder="密码" formControlName="password">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="text" placeholder="重复输入您的密码" formControlName="surePassword">
        </md-input-container>

        <app-image-list [items]="items" [title]="title" [cols]="cols" [useSvgIcon]="useSvgIcon" (changeImage)="ischangeImage($event)"
          formControlName="avater"></app-image-list>
        <button md-raised-button type="submit" (click)="save($event)" color="primary">保存</button>
        <button md-raised-button type="button" (click)="historyBack($event)">返回</button>
      </md-tab>
      <md-tab label="个人信息">
        <div class="full-width">

          <app-identity-input formControlName="identity"></app-identity-input>
        </div>

        <div class="full-width">
          <app-age-input formControlName="dateOfBirth"></app-age-input>
        </div>

        <div class="full-width">
          <app-area-list formControlName="address"></app-area-list>
        </div>
        <button md-raised-button type="button" (click)="selectedTabClick()">上一页</button>
      </md-tab>
    </md-tab-group>
  </md-card>
</form>
