:host{
    overflow-x: hidden;
    overflow-y: auto;
}
.itemDiv{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    height:100%;
}
.card{
    flex: 0 0 350px;
    margin:10px;
}
.fab-button{
    position: fixed;
    right:30px;
    bottom:80px;
    z-index: 1000;
}