:host{
    overflow-x: hidden;
    overflow-y: auto;
}
.itemDiv{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    height:100%;
}
.card{
    height:370px;
    flex: 0 0 370px;
    margin:5px;
    display:flex;
}
.fab-button{
    position: fixed;
    right:30px;
    bottom:80px;
    z-index: 1000;
}