<div>
  <span>{{title}}</span>
  <div *ngIf="selected">
    <md-icon class="coverSvg" *ngIf="useSvgIcon else imSelect" [svgIcon]="selected"></md-icon>
  </div>
  <ng-template #imSelect>
    <img [src]="selected" alt="image selected" class="cover" *ngIf="selected">
  </ng-template>
</div>
<div class="scroll-container">
  <md-grid-list [cols]="cols" rowHeight="60px">
    <md-grid-tile *ngFor="let item of items;let i=index">
      <div class="image-container" (click)="onChage(i)">
        <md-icon [svgIcon]="item" class="radiu" *ngIf="useSvgIcon else imgItem" style="margin:3px;"></md-icon>
        <ng-template #imgItem>
          <img [src]="item" alt="image selected">
        </ng-template>

        <div class="after">
          <div class="zoom">
            <md-icon>checked</md-icon>
          </div>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
<div>
  <md-slide-toggle (change)="onChange($event)">{{toggleTitle}}</md-slide-toggle>
</div>
