<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <md-card>
    <md-card-header>
      <md-card-title>登录：</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container hintLabel="必填项" class="full-width">
        <input mdInput type="text" placeholder="您的email" formControlName="email">
      </md-input-container>
      <md-input-container hintLabel="必填项" class="full-width">
        <input mdInput type="text" placeholder="密码" formControlName="password">
      </md-input-container>
      <hr>
      <button md-raised-button type="button" color="primary" [disabled]="!form.valid" (click)="login()">登录</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>还没有账户吗？
        <a href="" routerLink="register">注册</a>
      </p>
      <p>忘记密码？
        <a href="" routerLink="register">找回</a>
      </p>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>每日佳句</md-card-title>
      <md-card-subtitle>{{quote.cn}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image [src]="quote.pic">
    <md-card-content>
      <span>
        {{quote.en}}
      </span>
    </md-card-content>
  </md-card>
</form>
