<md-list-item [ngClass]="{
  'one':item.priority==3,
  'two':item.priority==2,
  'three':item.priority==1
  }" (click)="onItemClick()" 
  [@item]='widerPriority'
  [app-draggable]='true'
  [dragTag]="'task-item'"
  [dragData]="item"
  [draggedClass]="'drag-start'">
  <md-checkbox style="order: -1;margin-right:5px;" [checked]="item.completed" (click)="checkboxClick($event,item)"></md-checkbox>
  <div md-line [ngClass]="{'selected':item.completed}">
    <span [md-tooltip]="item.desc">{{item.desc}}</span>
  </div>
  <div md-line>
    <span class="due-date" *ngIf="item.dueDate">
      {{item.dueDate|date:'yyyy-mm-dd'}}
    </span>
    <md-icon *ngIf="item.reminder">alarm</md-icon>
  </div>

  <md-icon [svgIcon]="icons" md-list-avatar class="iconsd"></md-icon>
</md-list-item>
